# Configuration du client Flower DGX (se connecter au port ServerApp exposé)
SERVER_ADDRESS=10.200.241.101:9091
CLIENT_ID=dgx-client
N_LOCAL_EPOCHS=1
BATCH_SIZE=64
LEARNING_RATE=0.01

# TLS/mTLS (optionnel) - renseignez vos chemins montés dans /certs si vous activez TLS
USE_TLS=true
CA_CERT_PATH=/certs/ca.crt
CLIENT_CERT_PATH=/certs/client.crt
CLIENT_KEY_PATH=/certs/client.key
