# --- RESEAU ---
PROXY_IP=10.200.241.101
HUB_INTERNAL_IP=10.200.241.101
HUB_PUBLIC_IP=45.112.122.113
HUB_PORT=8443

# Format: NOM:IP,NOM:IP
CLIENT_SITES="site1:10.200.50.45,site2:82.66.249.165"

# --- FLOWER ---
FLWR_VERSION=1.25.0
NUM_ROUNDS=5

# --- HYPERPARAMETRES ---
BATCH_SIZE=32
LEARNING_RATE=0.01

# --- MONITORING ---
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
HOST_PROJECT_PATH=.
