# --- RESEAU ---
PROXY_IP=proxy-data
# Format: NOM:IP,NOM:IP
CLIENT_SITES="site1:dgx,site2:maison"
HUB_PORT=8443

# --- FLOWER ---
FLWR_VERSION=1.25.0
NUM_ROUNDS=5

# --- HYPERPARAMETRES ---
BATCH_SIZE=32
LEARNING_RATE=0.01

# --- MONITORING ---
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090

# --- DEPLOIEMENT ---
# Absolute path to the project on the host where Docker runs (for bind mounts)
HOST_PROJECT_PATH=.
