# Configuration du serveur Flower (orchestrateur)
FLOWER_SERVER_ADDRESS=0.0.0.0
FLOWER_SERVER_PORT=8080
GRPC_MAX_MESSAGE_LENGTH=536870912
NUM_ROUNDS=3
MIN_FIT_CLIENTS=2
MIN_AVAILABLE_CLIENTS=2

# TLS (optionnel) - renseignez vos chemins montés dans /certs si vous activez TLS/mTLS
CA_CERT_PATH=/certs/ca.crt
SERVER_CERT_PATH=/certs/server.crt
SERVER_KEY_PATH=/certs/server.key
